<html>

<head>
<title>Title</title>
<style>
/* we start with iaw.css */


h1 { font-size:17pt; text-align:center; color:black; }
h2 { font-size:14pt; text-align:left; color:black; }
h3 { font-size:11pt; text-align:left; color:black; }

a { text-decoration:none; color:#3284bf; }
a:hover { text-decoration:underline; }
/* { background-color:#3284bf; color:white; } */

hr.fat { background-color:black; height:4px; }

hr { background-color:black; height:1px; }

li { margin-top: 1em; }

p.notice { background-color:white; font-size:10pt; border:solid black 5px; }

caption { color:brown; text-decoration:underline; font-size:9pt; }
td { padding-left:1em; padding-right:1em; }
th { text-decoration:underline }
table { margin-left:2em; }

p.boxright { width:355px; margin-right:0px; background-color:white; font-size:10pt; float:right; padding:20px; font-size:large; vertical-align:top; }

dt.big { line-height:3; font-size:large; font-weight:bolder; font-family:sans-serif;margin-top:12pt }
dt.hili { font-size:large; font-family:Cursive; display:inline; text-decoration:underline; padding-top:1em; }
dt.smallbold { font-size:small; font-family:Cursive; display:inline; font-weight:bold; }
dd { margin-bottom:1ex }

td.hili { font-size:x-large; font-family:cursive; margin:20px; vertical-align:top }

div.smallnobox { width:400pt; font-size:smaller; margin:10px; }
div.smallbox { width:400pt; font-size:smaller; margin:10px; border:solid black 1px; }

.boxquote {float: left; text-align: center; border: solid black 1px;font-family: Times, sans-serif; font-size: 12pt; margin: 10px;}

td.googler { vertical-align:bottom; color:green; font-size:x-large}

.small { font-size:smaller; }
.right { text-align:right; }

body { font-family: 'Oxygen', Verdana, serif; margin:2em; background-color: #F0F0F0; }

div.explain { font-size:smaller; margin-left:40px; margin-right:40px; margin-bottom:10px; }


summary::-webkit-details-marker {
    color: #00ACF3;
    font-size: 125%;
    margin-right: 2px;
}

summary:focus {	outline-style: none; }
article { margin-left:1em; }
article > details > summary { font-size: 28px; margin-top: 32px; }
article > details > summary.link { font-size: 28px; margin-top: 32px; text-decoration:underine; }
details > p { margin-left: 36px; background-color:#f0f0f0; }
details > div { margin-left: 36px; background-color:#f0f0f0; }

details details { margin-left: 48px; }
details details summary { font-size: 16px; }

</style>
</head>


  <body>

    <h1> Homework 2, by Jiaqi Li, Jan 26, 2019 </h1>

    <h2> Explanation and Summary </h2>
Data: <br>
In this assigment, I used data only from S&P 500 companies. Excess returns are computed by subtracting return of  S&P 500 composite index from returns of stocks without dividend. Data file contains all daily stock returns and corresponding S&P 500 index returns from 2011 to 2018. There is no missing value in S&P 500 index return but about 2800 missing values in stock returns, which are all replaced by 0. All ex-dividend dates of all companies are also included in the data file. <br>
Method: <br>
All ex-dividend payment dates are lined up vertically in a matrix (a 11574*41 matrix). Since some ex-dividend dates does not have data from its previous or next 20 days, those ex-dividend dates are excluded from the whole calculation process. Then, compute the mean of each column, which is the mean return of each stock on each day through day -20 to day 20. Plot the mean returns shows us that: <br>
On ex-dividend date, the excess return dropped intensively and then goes back to normal. This phenomenon indicates that the ex-dividend date is an special event that can cause a drop of a stock price.
</p>

    <h2> Tables and Figures and Computer Code </h2>

<!--begin.rcode fig.width=10, fig.height=6
options(warn=-1)
library(readxl)
snp = read_excel("sp500_stock_data.xlsx")

snp$`Returns without Dividends`[is.na(snp$`Returns without Dividends`)] = 0

p.all = which(!is.na(snp$`Payment Date`))
event = snp[p.all,]
n = length(p.all)
pos = vector()
for (i in 2:n)
{
  if (snp$`Ticker Symbol`[p.all[i]] != snp$`Ticker Symbol`[p.all[i]-21]
      || snp$`Ticker Symbol`[p.all[i]] != snp$`Ticker Symbol`[p.all[i]+20])
  {
    pos = append(pos,i)
  }
}

p = p.all[-pos]
p = p[-1]
RETX = snp$`Returns without Dividends`
sprtrn = snp$`Return on the S&P 500 Index`

row_EXR = matrix(0,ncol = 41)
for (i in 1:length(p))
{
  row_EXR = rbind(row_EXR,RETX[(p[i]-20):(p[i]+20)]
                  -sprtrn[(p[i]-20):(p[i]+20)])
}
row_EXR = row_EXR[-1,]
row_EXR[is.na(row_EXR)] = 0

mu = vector()
for (i in 1:41) { mu = append(mu,mean(row_EXR[,i]))}

X = seq(-20,20,1)
plot(X, mu, type = "o", main = "Event Study",
     ylab = "Excess Return", xlab = "Day")
end.rcode-->
    
    <h2> References </h2>

    <ul>
      <li> <a https://wrds-web.wharton.upenn.edu/wrds/ > Wharton Research Data Services </a>, retrieved on Jan 25, 2019. </li>
    </ul>
    <ul>
      <li> <a https://en.wikipedia.org/wiki/List_of_S%26P_500_companies > List of S&P 500 companies </a>, Wikipedia, retrieved on Jan 25, 2019. </li>
    </ul>

    <p class="notice">TAs, please do not judge me too harshly.</p>

  </body>
</html>